@charset "UTF-8";

.pageLoader {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:4;
	background:rgba(255,255,255,0.75);
	display:none;
	opacity:0;

	-webkit-transition:opacity 0.3s ease;
	-moz-transition:opacity 0.3s ease;
	-ms-transition:opacity 0.3s ease;
	-o-transition:opacity 0.3s ease;
	transition:opacity 0.3s ease;
}

.loading {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:22;
	background:#2a383c;
	display:none;
	opacity:0;

	-webkit-transition:opacity 0.3s ease;
	-moz-transition:opacity 0.3s ease;
	-ms-transition:opacity 0.3s ease;
	-o-transition:opacity 0.3s ease;
	transition:opacity 0.3s ease;
}

.loading.show, .pageLoader.show {
	opacity:1;
}

.loading.display, .pageLoader.display {
	display:block;
}

.loading.show .circle, .pageLoader.show .circle  {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}

.loading .circle, .pageLoader .circle {
	width:50px;
	height:50px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-25px 0 0 -25px;

	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-o-transform:scale(1.2);
	transform:scale(1.2);

	-webkit-transition:-webkit-transform 0.3s ease;
	-moz-transition:-moz-transform 0.3s ease;
	-ms-transition:-ms-transform 0.3s ease;
	-o-transition:-o-transform 0.3s ease;
	transition:transform 0.3s ease;
}

.pageLoader .circle {
	margin:3px 0 0 -25px;
}

body[data-render="ios"] .pageLoader .circle {
	margin:13px 0 0 -25px;
}

#schedule .pageLoader .circle, #food .pageLoader .circle {
	margin:23px 0 0 -25px;
}

body[data-render="ios"] #schedule .pageLoader .circle, body[data-render="ios"] #food .pageLoader .circle {
	margin:33px 0 0 -25px;
}

#transit .pageLoader .circle {
	margin:28px 0 0 -25px;
}

body[data-render="ios"] #transit .pageLoader .circle {
	margin:38px 0 0 -25px;
}

.loading svg, .pageLoader svg {
	width:100%;
	height:100%;
	float:left;
}

.loading svg .white, .pageLoader svg .white {
	fill:#fff;
}

.loading svg .blue, .pageLoader svg .blue {
	fill:#0a96cf;
}

.loading svg .pink, .pageLoader svg .pink {
	fill:#e91589;
}

.loading svg .cyan, .pageLoader svg .cyan {
	fill:#18b1d3;
}

.loading svg .orange, .pageLoader svg .orange {
	fill:#f7932d;
}

.loading svg.logo_circle, .pageLoader svg.logo_circle {
	-webkit-animation:loading 1.8s infinite linear;
	animation:loading 1.8s infinite linear;

	-webkit-transform-origin:center center;
	-moz-transform-origin:center center;
	-ms-transform-origin:center center;
	-o-transform-origin:center center;
	transform-origin:center center;
}

@-webkit-keyframes loading {
	0% {
		-webkit-transform:rotateZ(0deg);
		-moz-transform:rotateZ(0deg);
		-ms-transform:rotateZ(0deg);
		-o-transform:rotateZ(0deg);
		transform:rotateZ(0deg);
	}
	100% {
		-webkit-transform:rotateZ(720deg);
		-moz-transform:rotateZ(720deg);
		-ms-transform:rotateZ(720deg);
		-o-transform:rotateZ(720deg);
		transform:rotateZ(720deg);
	}
}

@keyframes loading {
	0% {
		-webkit-transform:rotateZ(0deg);
		-moz-transform:rotateZ(0deg);
		-ms-transform:rotateZ(0deg);
		-o-transform:rotateZ(0deg);
		transform:rotateZ(0deg);
	}
	100% {
		-webkit-transform:rotateZ(720deg);
		-moz-transform:rotateZ(720deg);
		-ms-transform:rotateZ(720deg);
		-o-transform:rotateZ(720deg);
		transform:rotateZ(720deg);
	}
}