@charset "utf8";

	/*
		----------------------------------------
			Colors
		----------------------------------------
		- Ocean:		#0996cf | rgb(9,150,207);
		- Flower:		#ea1189 | rgb(234,17,137);
		- Desert:		#f7932d | rgb(247,147,45);
		- Sky: 			#1ab1d3 | rgb(26,177,211);
		- Asphalt:	#2a383c | rgb(42,56,60);
		----------------------------------------
	*/

  body {
    background:#f1eff5;
		padding:56px 0 0 0;
		font-size:12px;
		font-weight:500;
		color:#2a383c;
  }

	body[data-render="ios"] {
		padding:76px 0 0 0;
	}

  body, input, button, textarea, select {
    font-family: 'Roboto', sans-serif;
  }

  body[data-active-page="schedule"] header.main {
    background:#0996cf;
  }

	body[data-active-page="calendar"] header.main {
    background:#ea1189;
  }

	body[data-active-page="food"] header.main {
    background:#f7932d;
  }

	body[data-active-page="transit"] header.main {
    background:#1ab1d3;
  }

	body[data-active-page="news"] header.main, body[data-active-page="union"] header.main, body[data-active-page="developers"] header.main {
    background:#fff;
  }

	body[data-active-page="news"] header.main h3, body[data-active-page="union"] header.main h3, body[data-active-page="developers"] header.main h3 {
		color:#2a383c;
	}

	body[data-active-page="news"] header.main .menuButton .str, body[data-active-page="union"] header.main .menuButton .str, body[data-active-page="developers"] header.main .menuButton .str {
		background:#2a383c;
	}

	body[data-active-page="faq"] header.main, body[data-active-page="feedback"] header.main {
		background:#2a383c;
	}

	body[data-active-page="schedule"] header.main .titles {
		display:block;
	}

	body[data-active-page="schedule"] header.main #defaultTitle {
		display:none;
	}

	.right {
    float:right !important;
  }

  #coreOverlay {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:11;
    background:rgba(42,56,60,0.8);

    display:none;
    opacity:0;

		-webkit-transition:opacity 0.3s ease;
		-moz-transition:opacity 0.3s ease;
		-ms-transition:opacity 0.3s ease;
		-o-transition:opacity 0.3s ease;
    transition:opacity 0.3s ease;
  }

  #coreOverlay.display {
    display:block;
  }

  #coreOverlay.show {
    opacity:1;
  }

  /* Text styles */

  h1, h2, h3, h4, h5, h6, p {
    float:left;
    color:#5e727c;
  }

  h3 {
    font-size:17px;
    font-weight:500;
    line-height:28px;
  }

	h5 {
		font-size:14px;
		font-weight:500;
		line-height:24px;
	}

	h6 {
		font-size:13px;
		font-weight:500;
		line-height:20px;
	}

	p {
		font-size:12px;
		font-weight:400;
		line-height:24px;
	}

	p a {
		font-weight:700;
		text-decoration:none;
		color:#0996cf;
	}

	p.small {
		font-size:10px;
		font-weight:500;
		line-height:20px;
	}

  /* // Text styles */


	/* List styles */

	ul, ol {
		float:left;
		list-style:none;
		margin:0;
		padding:0;
	}


	/* Drawer menu styles */

	ul.drawerMenu {
		width:100%;
	}

	ul.drawerMenu li {
		width:100%;
		height:46px;
		float:left;
		color:#899baa;
		font-size:15px;
		font-weight:500;
		line-height:46px;
		border-radius:5px;
		margin:0;
		padding:0 17px;
		cursor:pointer;

		-webkit-transition:background 0.15s ease, color 0.15s ease;
		-moz-transition:background 0.15s ease, color 0.15s ease;
		-ms-transition:background 0.15s ease, color 0.15s ease;
		-o-transition:background 0.15s ease, color 0.15s ease;
		transition:background 0.15s ease, color 0.15s ease;
	}

	ul.drawerMenu li.selected {
		background:#f0f1f4;
		color:#2a383c;
	}

	@media only screen and (min-width:1025px) {
    ul.drawerMenu li {
			-webkit-transition:background 0.15s ease, color 0.15s ease;
			-moz-transition:background 0.15s ease, color 0.15s ease;
			-ms-transition:background 0.15s ease, color 0.15s ease;
			-o-transition:background 0.15s ease, color 0.15s ease;
      transition:background 0.15s ease, color 0.15s ease;
    }

    ul.drawerMenu li:hover {
      color:#2a383c;
    }
  }

  @media only screen and (max-width:1024px) {
    ul.drawerMenu li {
			-webkit-transition:background 0.05s ease, color 0.05s ease;
			-moz-transition:background 0.05s ease, color 0.05s ease;
			-ms-transition:background 0.05s ease, color 0.05s ease;
			-o-transition:background 0.05s ease, color 0.05s ease;
      transition:background 0.05s ease, color 0.05s ease;
    }

    ul.drawerMenu li:active {
      color:#2a383c;
    }
  }


	/* Calendar event styles */

	ul.events {
		width:100%;
		float:left;
	}

	ul.events li {
		width:100%;
		height:60px;
		float:left;
		background:#fff;
		border-radius:5px;
		box-shadow:0px 1px 4px rgba(0,0,0,0.1);
		margin:0 0 15px 0;
		padding:0 0 0 50px;
		position:relative;
		cursor:pointer;

		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		-o-user-select:none;
	}

	ul.events li:active {
		background:#f9f9f9;
	}

	ul.events li:last-of-type {
		margin:0;
	}

	ul.events li .date {
		width:50px;
		height:40px;
		float:left;
		border-right:1px solid #eee;
		margin:10px 0;
		position:absolute;
		top:0;
		left:0;

		display:-webkit-box;
		display:-moz-box;
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;

		-webkit-flex-direction:column;
		-moz-flex-direction:column;
		-ms-flex-direction:column;
		flex-direction:column;

		-webkit-justify-content:center;
		-moz-justify-content:center;
		-ms-justify-content:center;
		justify-content:center;

		-webkit-align-items:center;
		-moz-align-items:center;
		-ms-align-items:center;
		align-items:center;
	}

	ul.events li .date h3 {
		color:#ea1189;
		line-height:18px;
	}

	ul.events li .date p {
		line-height:12px;
		text-transform:capitalize;
		color:#899baa;
	}

	ul.events li .description {
		width:100%;
		height:100%;
		float:left;
		padding:0 15px;

		display:-webkit-box;
		display:-moz-box;
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;

		-webkit-flex-direction:column;
		-moz-flex-direction:column;
		-ms-flex-direction:column;
		flex-direction:column;

		-webkit-justify-content:center;
		-moz-justify-content:center;
		-ms-justify-content:center;
		justify-content:center;
	}

	ul.events li .description h5 {
		width:100%;
		float:left;
		overflow:hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
	}

	ul.events li .description p.small {
		line-height:12px;
		color:#899baa;
	}


	/* // List styles */


  /* Header styles */

  header {
    width:100%;
    height:56px;
    float:left;
    box-shadow:0px 1px 4px rgba(0,0,0,0.1);
  }

	body[data-render="ios"] header {
		height:76px;
		padding:20px 0 0 0;
	}

  header h3 {
    color:#fff;
    padding:14px 0;
  }

  header .button {
    width:56px;
    height:56px;
    float:left;
    position:relative;
    cursor:pointer;

		display:-webkit-box;
		display:-moz-box;
		display:-ms-flexbox;
		display:-webkit-flex;
    display:flex;

		-webkit-justify-content:center;
		-moz-justify-content:center;
		-ms-justify-content:center;
    justify-content:center;

		-webkit-align-items:center;
		-moz-align-items:center;
		-ms-align-items:center;
		align-items:center;

		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		-o-user-select:none;
  }

	header .button p {
		color:#fff;
		font-weight:bold;
	}

  @media only screen and (min-width:1025px) {
    header .button {
			-webkit-transition:background 0.15s ease;
			-moz-transition:background 0.15s ease;
			-ms-transition:background 0.15s ease;
			-o-transition:background 0.15s ease;
      transition:background 0.15s ease;
    }

    header .button:hover {
      background:rgba(255,255,255,0.1);
    }
  }

  @media only screen and (max-width:1024px) {
    header .button {
			-webkit-transition:background 0.05s ease;
			-moz-transition:background 0.05s ease;
			-ms-transition:background 0.05s ease;
			-o-transition:background 0.05s ease;
      transition:background 0.05s ease;
    }

    header .button:active {
      background:rgba(255,255,255,0.1);
    }
  }

  header .button img {
    width:18px;
    float:left;
  }

  header.main {
    position:fixed;
    top:0;
    left:0;
    z-index:10;
		overflow:hidden;
  }

	header .titles {
		width:150px;
		height:100%;
		float:left;
		position:relative;
		display:none;

		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		-o-user-select:none;
		user-select:none;
	}

	header .titles h3 {
		max-width:150px;
		position:absolute;
		top:0;
		left:0;
	}

	body[data-active-schedule="main"] .titles h3#otherTitle {
		-webkit-transform:translate3d(0px,100%,0px);
		-moz-transform:translate3d(0px,100%,0px);
		-ms-transform:translate3d(0px,100%,0px);
		-o-transform:translate3d(0px,100%,0px);
		transform:translate3d(0px,100%,0px);
	}

	body[data-active-schedule="other"] .titles h3#mainTitle {
		-webkit-transform:translate3d(0px,-100%,0px);
		-moz-transform:translate3d(0px,-100%,0px);
		-ms-transform:translate3d(0px,-100%,0px);
		-o-transform:translate3d(0px,-100%,0px);
		transform:translate3d(0px,-100%,0px);
	}

	@media only screen and (min-width:1025px) {
		header .titles h3 {
			-webkit-transition:-webkit-transform 0.3s ease, background 0.15s ease;
			-moz-transition:-moz-transform 0.3s ease, background 0.15s ease;
			-ms-transition:-ms-transform 0.3s ease, background 0.15s ease;
			-o-transition:-o-transform 0.3s ease, background 0.15s ease;
			transition:transform 0.3s ease, background 0.15s ease;
		}

		header .titles h3:hover {
			background:rgba(255,255,255,0.1);
		}
	}

	@media only screen and (max-width:1024px) {
		header .titles h3 {
			-webkit-transition:-webkit-transform 0.3s ease, background 0.05s ease;
			-moz-transition:-moz-transform 0.3s ease, background 0.05s ease;
			-ms-transition:-ms-transform 0.3s ease, background 0.05s ease;
			-o-transition:-o-transform 0.3s ease, background 0.05s ease;
			transition:transform 0.3s ease, background 0.05s ease;
		}

		header .titles h3:active {
			background:rgba(255,255,255,0.1);
		}
	}

	header .button#weekNumber {
		display:none;
		position:relative;
		overflow:hidden;
	}

	header .button#weekNumber:before {
		content:'';
		width:100%;
		height:2px;
		position:absolute;
		left:0;
		bottom:-2px;
		background:#fff;

		-webkit-transition:-webkit-transform 0.2s ease;
		-moz-transition:-moz-transform 0.2s ease;
		-ms-transition:-ms-transform 0.2s ease;
		-o-transition:-o-transform 0.2s ease;
		transition:transform 0.2s ease;
	}

	header .button#weekNumber:after {
		content:'';
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		bottom:0;
		z-index:1;
		background:rgba(255,255,255,0.1);
		opacity:0;

		-webkit-transition:opacity 0.2s ease;
		-moz-transition:opacity 0.2s ease;
		-ms-transition:opacity 0.2s ease;
		-o-transition:opacity 0.2s ease;
		transition:opacity 0.2s ease;
	}

	body[data-active-page="schedule"] header .button#weekNumber {
		display:-webkit-flex;
		display:-moz-flex;
		display:-ms-flexbox;
		display:-webkit-box;
		display:flex;
	}

	body[data-display-weeks="true"] header .button#weekNumber:after { opacity:1; }

	body[data-display-weeks="true"] header .button#weekNumber:before {
		-webkit-transform:translate3d(0px,-2px,0px);
		-moz-transform:translate3d(0px,-2px,0px);
		-ms-transform:translate3d(0px,-2px,0px);
		-o-transform:translate3d(0px,-2px,0px);
		transform:translate3d(0px,-2px,0px);
	}

  /* // Header styles */


  /* Nav styles */

  nav {
    width:270px;
    height:100%;
    position:fixed;
    top:0;
    left:-274px;
    z-index:20;
    background:#fff;
    box-shadow:1px 0px 4px rgba(0,0,0,0.1);
		padding:56px 0 0 0;

		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		-o-user-select:none;
		user-select:none;

		-webkit-transition:-webkit-transform 0.3s ease;
		-moz-transition:-moz-transform 0.3s ease;
		-ms-transition:-ms-transform 0.3s ease;
		-o-transition:-o-transform 0.3s ease;
    transition:transform 0.3s ease;
  }

	body[data-render="ios"] nav {
		padding:76px 0 0 0;
	}

  nav.show {
		-webkit-transform:translate3d(100%,0px,0px);
		-moz-transform:translate3d(100%,0px,0px);
		-ms-transform:translate3d(100%,0px,0px);
		-o-transform:translate3d(100%,0px,0px);
    transform:translate3d(100%,0px,0px);
  }

  nav header {
    background:#2a383c;
		position:absolute;
		top:0;
		left:0;
  }

	nav .content {
		width:100%;
		max-height:100%;
		float:left;
		padding:10px;
		overflow:scroll;
		-webkit-overflow-scrolling:touch;
	}

	nav .content::-webkit-scrollbar {
		display:none;
	}

	nav .content .splitter {
		width:100%;
		height:1px;
		background:#eee;
		float:left;
		margin:10px 0;
	}

	nav .content footer {
		width:100%;
		float:left;
		padding:10px 0;
	}

	nav .content footer p {
		width:100%;
		text-align:center;
		color:#899baa;
	}

	nav .content footer p span {
		font-weight:500;
		color:#5e727c;
	}

	nav .content footer .logo	 {
		width:100%;
		float:left;
		padding:8px 0 0 0;

		display:flex;
		justify-content:center;
	}

	nav .content footer .logo img {
		width:40px;
		float:left;
		opacity:0.20;
	}

  /* // Nav styles */

  /* Menubutton styles */

  .menuButton {
    width:20px;
    height:14px;
    float:left;
    position:relative;
  }

  .menuButton .str {
    width:20px;
    height:2px;
    border-radius:1px;
    background:#fff;
    position:absolute;
    left:0;
    top:50%;
    margin:-1px 0 0 0;
  }

  .menuButton .str.top {
		-webkit-transform:translate3d(0px,-6px,0px);
		-moz-transform:translate3d(0px,-6px,0px);
		-ms-transform:translate3d(0px,-6px,0px);
		-o-transform:translate3d(0px,-6px,0px);
    transform:translate3d(0px,-6px,0px);
  }

  .menuButton .str.bot {
		-webkit-transform:translate3d(0px,6px,0px);
		-moz-transform:translate3d(0px,6px,0px);
		-ms-transform:translate3d(0px,6px,0px);
		-o-transform:translate3d(0px,6px,0px);
    transform:translate3d(0px,6px,0px);
  }

  /* // Menubutton styles */


	/* Day tabs styles */

	ul.days {
		width:100%;
		height:40px;
		position:fixed;
		top:0;
		left:0;
		z-index:9;
		background:#fff;
		box-shadow:0px 1px 4px rgba(0,0,0,0.1);

		-webkit-transition:-webkit-transform 0.2s ease;
		-moz-transition:-moz-transform 0.2s ease;
		-ms-transition:-ms-transform 0.2s ease;
		-o-transition:-o-transform 0.2s ease;
		transition:transform 0.2s ease;

		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		-o-user-select:none;
	}

	body[data-render="ios"] ul.days {
		top:20px;
	}

	body[data-active-page="schedule"] ul.days {
		-webkit-transform:translate3d(0px,56px,0px);
		-moz-transform:translate3d(0px,56px,0px);
		-ms-transform:translate3d(0px,56px,0px);
		-o-transform:translate3d(0px,56px,0px);
		transform:translate3d(0px,56px,0px);
	}

	ul.days span {
		width:20%;
		height:1px;
		position:absolute;
		bottom:0;
		left:0;
		background:#0996cf;
	}

	ul.days li {
		width:20%;
		height:40px;
		float:left;
		text-align:center;
		line-height:40px;
		color:#899baa;
		cursor:pointer;

		-webkit-transition:color 0.2s ease;
		-moz-transition:color 0.2s ease;
		-ms-transition:color 0.2s ease;
		-o-transition:color 0.2s ease;
		transition:color 0.2s ease;
	}

	ul.days li:active {
		background:#f9f9f9;
	}

	body[data-selected-day="0"] ul.days li[data-day="0"] { color:#2a383c; }
	body[data-selected-day="1"] ul.days li[data-day="1"] { color:#2a383c; }
	body[data-selected-day="2"] ul.days li[data-day="2"] { color:#2a383c; }
	body[data-selected-day="3"] ul.days li[data-day="3"] { color:#2a383c; }
	body[data-selected-day="4"] ul.days li[data-day="4"] { color:#2a383c; }

	/* // Day tabs styles */


	/* Week slider styles */

	.weeks {
		width:100%;
		height:40px;
		position:fixed;
		top:0;
		left:0;
		z-index:8;
		background:#fff;
		box-shadow:0px 1px 4px rgba(0,0,0,0.1);
		opacity:0;

		-webkit-transition:-webkit-transform 0.2s ease, opacity 0.2s ease;
		-moz-transition:-moz-transform 0.2s ease, opacity 0.2s ease;
		-ms-transition:-ms-transform 0.2s ease, opacity 0.2s ease;
		-o-transition:-o-transform 0.2s ease, opacity 0.2s ease;
		transition:transform 0.2s ease, opacity 0.2s ease;
	}

	.weeks .swiper-container, .weeks .swiper-container .swiper-wrapper {
		width:100%;
		height:40px;
	}

	.weeks .swiper-container .swiper-wrapper .swiper-slide {
		height:40px;
		line-height:40px;
		color:#899baa;
		font-weight:400;
		font-size:12px;
		text-align:center;

		-webkit-transition:color 0.3s ease, font-weight 0.3s ease, font-size 0.3s ease;
		-moz-transition:color 0.3s ease, font-weight 0.3s ease, font-size 0.3s ease;
		-ms-transition:color 0.3s ease, font-weight 0.3s ease, font-size 0.3s ease;
		-o-transition:color 0.3s ease, font-weight 0.3s ease, font-size 0.3s ease;
		transition:color 0.3s ease, font-weight 0.3s ease, font-size 0.3s ease;
	}

	.weeks .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active {
		color:#5e727c;
		font-weight:bold;
		font-size:14px;
	}

	.weeks .swiper-container .swiper-wrapper .swiper-slide.currentWeek {
		color:#0996cf;
	}

	body[data-render="ios"] .weeks {
		top:20px;
	}

	body[data-active-page="schedule"] .weeks {
		-webkit-transform:translate3d(0px,56px,0px);
		-moz-transform:translate3d(0px,56px,0px);
		-ms-transform:translate3d(0px,56px,0px);
		-o-transform:translate3d(0px,56px,0px);
		transform:translate3d(0px,56px,0px);
	}

	body[data-active-page="schedule"][data-display-weeks="true"] .weeks {
		-webkit-transform:translate3d(0px,96px,0px);
		-moz-transform:translate3d(0px,96px,0px);
		-ms-transform:translate3d(0px,96px,0px);
		-o-transform:translate3d(0px,96px,0px);
		transform:translate3d(0px,96px,0px);

		opacity:1;
	}

	.weeks .button {
    width:20%;
    height:40px;
    float:left;
    position:absolute;
		top:0;
		z-index:2;
    cursor:pointer;
		background:#fff;

		display:-webkit-box;
		display:-moz-box;
		display:-ms-flexbox;
		display:-webkit-flex;
    display:flex;

		-webkit-justify-content:center;
		-moz-justify-content:center;
		-ms-justify-content:center;
    justify-content:center;

		-webkit-align-items:center;
		-moz-align-items:center;
		-ms-align-items:center;
		align-items:center;

		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		-o-user-select:none;
  }

	.weeks .button:before {
		content:'';
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		z-index:1;
	}

	.weeks .button:active:before {
		background:rgba(42,56,60,0.05);
	}

	.weeks .button#previousWeek {
		left:0;
	}

	.weeks .button#nextWeek {
		right:0;
	}

  .weeks .button img {
    width:14px;
    float:left;
		position:relative;
		z-index:2;
  }


	/* // Week slider styles */


	/* Main content styles */

	section {
		width:100%;
		min-height:100%;
		float:left;
		padding:15px;
		position:relative;
		display:none;

		-webkit-transition:-webkit-transform 0.2s ease;
		-moz-transition:-moz-transform 0.2s ease;
		-ms-transition:-ms-transform 0.2s ease;
		-o-transition:-o-transform 0.2s ease;
		transition:transform 0.2s ease;
	}

	section.display {
		display:block;
	}

	body[data-active-page="schedule"] section {
		-webkit-transform:translate3d(0px,40px,0px);
		-moz-transform:translate3d(0px,40px,0px);
		-ms-transform:translate3d(0px,40px,0px);
		-o-transform:translate3d(0px,40px,0px);
		transform:translate3d(0px,40px,0px);
	}

	body[data-active-page="schedule"][data-display-weeks="true"] section {
		-webkit-transform:translate3d(0px,80px,0px);
		-moz-transform:translate3d(0px,80px,0px);
		-ms-transform:translate3d(0px,80px,0px);
		-o-transform:translate3d(0px,80px,0px);
		transform:translate3d(0px,80px,0px);
	}

	/* // Main content styles */


	/* Schedule page */

	section#schedule {
		padding:0 0 0 0;
		overflow:hidden;
	}

	section#schedule .schedules {
		width:200%;
		float:left;
		position:relative;

		-webkit-transition:-webkit-transform 0.3s ease;
		-moz-transition:-moz-transform 0.3s ease;
		-ms-transition:-ms-transform 0.3s ease;
		-o-transition:-o-transform 0.3s ease;
		transition:transform 0.3s ease;
	}

	body[data-active-schedule="other"] .schedules {
		-webkit-transform:translate3d(-50%,0px,0px);
		-moz-transform:translate3d(-50%,0px,0px);
		-ms-transform:translate3d(-50%,0px,0px);
		-o-transform:translate3d(-50%,0px,0px);
		transform:translate3d(-50%,0px,0px);
	}

	section#schedule .schedules .schedule {
		width:50%;
		float:left;
		position:relative;
	}

	section#schedule .schedules .schedule .swiper-container {
		width:100%;
	}

	section#schedule .schedules .schedule .swiper-container .swiper-wrapper .swiper-slide {
		padding:15px;
	}

	section#schedule .schedules .schedule .swiper-container .swiper-wrapper .swiper-slide img {
		width:100%;
		float:left;
		box-shadow:0px 1px 4px rgba(0,0,0,0.1);
	}

	/* // Schedule page */



	/* Settings page styles */

	#settings {
		width:100%;
		height:100%;
		position:fixed;
		top:100%;
		left:0;
		z-index:20;
		background:#f1eff5;
		display:none;
		padding:56px 0 0 0;

		-webkit-transition:-webkit-transform 0.3s ease;
		-moz-transition:-moz-transform 0.3s ease;
		-ms-transition:-ms-transform 0.3s ease;
		-o-transition:-o-transform 0.3s ease;
		transition:transform 0.3s ease;
	}

	body[data-render="ios"] #settings {
		padding:76px 0 0 0;
	}

	#settings header {
		background:#2a383c;
		position:absolute;
		top:0;
		left:0;
	}

	#settings.display {
		display:block;
	}

	#settings.show {
		-webkit-transform:translate3d(0px,-100%,0px);
		-moz-transform:translate3d(0px,-100%,0px);
		-ms-transform:translate3d(0px,-100%,0px);
		-o-transform:translate3d(0px,-100%,0px);
		transform:translate3d(0px,-100%,0px);
	}

	#settings .content {
		width:100%;
		max-height:100%;
		float:left;
		position:relative;
		padding:15px;
		overflow:scroll;
		-webkit-overflow-scrolling:touch;
	}

	#settings .content hr {
		width:100%;
		max-width:160px;
		height:1px;
		border:0px;
		background:rgba(42,56,60,0.1);
		margin:5px auto 15px auto;
	}

	#settings .content .field .switchWrap {
		float:right;
	}


	/* Form and fields styles */

	label {
		width:100%;
		float:left;
		font-size:12px;
		font-weight:500;
		line-height:16px;
		color:#889baa;
		margin:5px 0 8px 5px;
	}

	.field {
		width:100%;
		min-height:50px;
		float:left;
		background:#fff;
		border-radius:5px;
		box-shadow:0px 1px 2px rgba(42,56,60,0.1);
		margin:0 0 15px 0;
	}

	.field h5 {
		color:#2a383c;
		font-size:14px;
		padding:13px 17px;

		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		-o-user-select:none;
	}

	.field .box {
		width:100%;
		height:50px;
		float:left;
		position:relative;
		border-top-right-radius:5px;
		border-top-left-radius:5px;

		-webkit-transition:background 0.05s ease;
		-moz-transition:background 0.05s ease;
		-ms-transition:background 0.05s ease;
		-o-transition:background 0.05s ease;
		transition:background 0.05s ease;
	}

	.field .box.btn {
		padding:0 50px 0 0;
	}

	.field .box:active {
		background:#f7f7f7;
	}

	.field .box:only-child {
		border-radius:5px;
	}

	.field .box .button {
		width:50px;
		height:50px;
		position:absolute;
		top:0;
		right:0;
		border-top-right-radius:5px;

		-webkit-transition:background 0.05s ease;
		-moz-transition:background 0.05s ease;
		-ms-transition:background 0.05s ease;
		-o-transition:background 0.05s ease;
		transition:background 0.05s ease;
	}

	.field .box .button:active {
		background:#fff;
	}

	.field .box:only-child .button {
		border-bottom-right-radius:5px;
	}

	.field .box:only-child .button:active {
		background:#f9f9f9;
	}

	.field .box .button.clear {
		background-image:url(../img/icons/close-light.svg);
		background-repeat:no-repeat;
		background-size:9px 9px;
		background-position:center;
	}

	.field input {
		width:100%;
		height:100%;
		float:left;
		padding:0 18px 0 0;
		text-indent:18px;
		font-size:14px;
		font-weight:500;
		color:#2a383c;
		border-radius:0px;
		outline:none;
		border:0px;
		background:none;

		-webkit-appearance:none;
		-moz-appearance:none;
		-ms-appearance:none;
		-o-appearance:none;
		appearance:none;
	}

	.field select {
		width:100%;
		height:50px;
		float:left;
		background-image:url(../img/icons/dropdown.svg);
		background-repeat:no-repeat;
		background-size:50px;
		background-position:top right;
		background-color:#f9f9f9;
		font-size:14px;
		font-weight:500;
		color:#63727c;
		padding:0 18px;
		outline:none;
		cursor:pointer;

		border-top-right-radius:0px;
		border-top-left-radius:0px;
		border-bottom-left-radius:5px;
		border-bottom-right-radius:5px;

		border-top:1px solid #eee;
		border-right:0px;
		border-bottom:0px;
		border-left:0px;

		-webkit-appearance:none;
		-moz-appearance:none;
		-ms-appearance:none;
		-o-appearance:none;
		appearance:none;

		-webkit-transition:background-color 0.05s ease;
		-moz-transition:background-color 0.05s ease;
		-ms-transition:background-color 0.05s ease;
		-o-transition:background-color 0.05s ease;
		transition:background-color 0.05s ease;
	}

	.field select:active {
		background-color:#fff;
	}

	.field select:only-child {
		border-radius:5px;
		background-color:#fff;
		color:#2a383c;
	}

	.field select:only-child:active {
		background-color:#f9f9f9;
	}

	.switchWrap {
		padding:10px;
		float:left;
	}

	.switch {
		width:44px;
		height:30px;
		float:left;
		border-radius:15px;
		background:#cad4dd;
		padding:3px;

		-webkit-transition:background 0.2s ease;
		-moz-transition:background 0.2s ease;
		-ms-transition:background 0.2s ease;
		-o-transition:background 0.2s ease;
		transition:background 0.2s ease;
	}

	.switch.on {
		background:#0a96cf;
	}

	.switch.on .ball {
		-webkit-transform:translate3d(14px,0px,0px);
		-moz-transform:translate3d(14px,0px,0px);
		-ms-transform:translate3d(14px,0px,0px);
		-o-transform:translate3d(14px,0px,0px);
		transform:translate3d(14px,0px,0px);
	}

	.switch.on .ball:before {
		-webkit-transform:rotate3d(0,0,1, 90deg);
		-moz-transform:rotate3d(0,0,1, 90deg);
		-ms-transform:rotate3d(0,0,1, 90deg);
		-o-transform:rotate3d(0,0,1, 90deg);
		transform:rotate3d(0,0,1, 90deg);

		opacity:0;
	}

	.switch.on .ball:after {
		-webkit-transform:rotate3d(0,0,0, 0deg);
		-moz-transform:rotate3d(0,0,0, 0deg);
		-ms-transform:rotate3d(0,0,0, 0deg);
		-o-transform:rotate3d(0,0,0, 0deg);
		transform:rotate3d(0,0,0, 0deg);

		opacity:1;
	}

	.switch .ball {
		width:24px;
		height:24px;
		float:left;
		border-radius:12px;
		background:#fff;
		position:relative;

		-webkit-transition:-webkit-transform 0.2s ease;
		-moz-transition:-moz-transform 0.2s ease;
		-ms-transition:-ms-transform 0.2s ease;
		-o-transition:-o-transform 0.2s ease;
		transition:transform 0.2s ease;
	}

	.switch .ball:before {
		content:'';
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		background:url(../img/icons/close-switch.svg) no-repeat center center;
		background-size:10px;

		-webkit-transition:-webkit-transform 0.2s ease, opacity 0.2s ease;
		-moz-transition:-moz-transform 0.2s ease, opacity 0.2s ease;
		-ms-transition:-ms-transform 0.2s ease, opacity 0.2s ease;
		-o-transition:-o-transform 0.2s ease, opacity 0.2s ease;
		transition:transform 0.2s ease, opacity 0.2s ease;
	}

	.switch .ball:after {
		content:'';
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		background:url(../img/icons/done-blue.svg) no-repeat center center;
		background-size:12px;

		-webkit-transform:rotate3d(0,0,1, -90deg);
		-moz-transform:rotate3d(0,0,1, -90deg);
		-ms-transform:rotate3d(0,0,1, -90deg);
		-o-transform:rotate3d(0,0,1, -90deg);
		transform:rotate3d(0,0,1, -90deg);

		opacity:0;

		-webkit-transition:-webkit-transform 0.2s ease, opacity 0.2s ease;
		-moz-transition:-moz-transform 0.2s ease, opacity 0.2s ease;
		-ms-transition:-ms-transform 0.2s ease, opacity 0.2s ease;
		-o-transition:-o-transform 0.2s ease, opacity 0.2s ease;
		transition:transform 0.2s ease, opacity 0.2s ease;
	}


	/* Calendar event details overlay styles */

	.eventModal {
		width:100%;
		height:100%;
		position:fixed;
		top:0;
		left:0;
		z-index:12;
		padding:15px;

		-webkit-justify-content:center;
		-moz-justify-content:center;
		-ms-justify-content:center;
		justify-content:center;

		-webkit-align-items:center;
		-moz-align-items:center;
		-ms-align-items:center;
		align-items:center;

		display:none;
		opacity:0;

		-webkit-transition:opacity 0.3s ease;
		-moz-transition:opacity 0.3s ease;
		-ms-transition:opacity 0.3s ease;
		-o-transition:opacity 0.3s ease;
		transition:opacity 0.3s ease;
	}

	.eventModal.display {
		display:-webkit-box;
		display:-moz-box;
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;
	}

	.eventModal.show {
		opacity:1;
	}

	.eventModal.show .event {
		-webkit-transform:translate3d(0px,0px,0px);
		-moz-transform:translate3d(0px,0px,0px);
		-ms-transform:translate3d(0px,0px,0px);
		-o-transform:translate3d(0px,0px,0px);
		transform:translate3d(0px,0px,0px);
	}

	.eventModal .event {
		width:100%;
		max-width:320px;
		float:left;
		padding:20px 20px 0;
		border-radius:5px;
		background:#fff;
		box-shadow:0px 1px 4px rgba(0,0,0,0.1);

		-webkit-transform:translate3d(0px,50px,0px);
		-moz-transform:translate3d(0px,50px,0px);
		-ms-transform:translate3d(0px,50px,0px);
		-o-transform:translate3d(0px,50px,0px);
		transform:translate3d(0px,50px,0px);

		-webkit-transition:-webkit-transform 0.3s ease;
		-moz-transition:-moz-transform 0.3s ease;
		-ms-transition:-ms-transform 0.3s ease;
		-o-transition:-o-transform 0.3s ease;
		transition:transform 0.3s ease;
	}

	.eventModal .event p.close {
		width:100%;
		float:left;
		text-align:center;
		font-weight:500;
		color:#899baa;
		border-top:1px solid #eee;
		line-height:40px;
		cursor:pointer;

		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		-o-user-select:none;
	}

	.eventModal .event .details {
		width:100%;
		float:left;
	}

	.eventModal .event .details h3 {
		line-height:22px;
		word-break:break-all;

		-moz-hyphens:auto;
		-ms-hyphens:auto;
		hyphens:auto;
	}

	.eventModal .event .details .meta {
		width:100%;
		float:left;
		margin:5px 0 20px;
	}

	.eventModal .event .details .meta p.small {
		color:#899baa;
		line-height:13px;
		position:relative;
		padding:0 0 0 16px;
	}

	.eventModal .event .details .meta p.small.time {
		margin:0 0 0 10px;
	}

	.eventModal .event .details .meta p.small:before {
		content:'';
		width:12px;
		height:12px;
		position:absolute;
		top:0;
		left:0;
	}

	.eventModal .event .details .meta p.small.date:before {
		background:url(../img/icons/calendar.svg) no-repeat center center;
		background-size:12px 12px;
	}

	.eventModal .event .details .meta p.small.time:before {
		background:url(../img/icons/time.svg) no-repeat center center;
		background-size:12px 12px;
	}