@charset "utf8";

	/*
		----------------------------------------
			Primary colors
		----------------------------------------
		- Ocean:		#0996cf | rgb(9,150,207);
		- Flower:		#ea1189 | rgb(234,17,137);
		- Desert:		#f7932d | rgb(247,147,45);
		- Sky: 			#1ab1d3 | rgb(26,177,211);
		- Asphalt:	#2a383c | rgb(42,56,60);
		----------------------------------------
	*/

  body {
    background:#f1eff5;
		padding:0;
		font-size:12px;
		font-weight:500;
		color:#2a383c;

		-webkit-font-smoothing:antialiased;
		-moz-font-smoothing:antialiased;
		-ms-font-smoothing:antialiased;
		-o-font-smoothing:antialiased;

		-moz-osx-font-smoothing:grayscale;

		-webkit-text-size-adjust:none;
		-moz-text-size-adjust:none;
		-ms-text-size-adjust:none;
		-o-text-size-adjust:none;
  }

	body[data-render="ios"] section {
		padding:91px 0 0 0;
	}

  body, input, button, textarea, select {
    font-family: 'Roboto', sans-serif;
  }

  body[data-active-page="schedule"] header.main {
    background:#0996cf;
  }

	body[data-active-page="calendar"] header.main {
    background:#ea1189;
  }

	body[data-active-page="food"] header.main {
    background:#f7932d;
  }

	body[data-active-page="transit"] header.main {
    background:#1ab1d3;
  }

	body[data-active-page="news"] header.main, body[data-active-page="union"] header.main, body[data-active-page="developers"] header.main {
    background:#fff;
  }

	body[data-active-page="news"] header.main h3, body[data-active-page="union"] header.main h3, body[data-active-page="developers"] header.main h3 {
		color:#2a383c;
	}

	body[data-active-page="news"] header.main .menuButton .str, body[data-active-page="union"] header.main .menuButton .str, body[data-active-page="developers"] header.main .menuButton .str {
		background:#2a383c;
	}

	body[data-active-page="faq"] header.main, body[data-active-page="feedback"] header.main {
		background:#2a383c;
	}

	body[data-active-page="schedule"] header.main .titles {
		display:block;
	}

	body[data-active-page="schedule"] header.main #defaultTitle {
		display:none;
	}

	.right {
    float:right !important;
  }

	.noFill {
		fill:none;
	}

  #coreOverlay {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:20;
    background:rgba(42,56,60,0.8);

    display:none;
    opacity:0;

		-webkit-transition:opacity 0.3s ease;
		-moz-transition:opacity 0.3s ease;
		-ms-transition:opacity 0.3s ease;
		-o-transition:opacity 0.3s ease;
    transition:opacity 0.3s ease;
  }

  #coreOverlay.display {
    display:block;
  }

  #coreOverlay.show {
    opacity:1;
  }

	#app {
		width:100%;
		height:100vh;
		float:left;
		position:relative;

		-webkit-transition:-webkit-transform 0.3s ease, opacity 0.3s ease;
		-moz-transition:-moz-transform 0.3s ease, opacity 0.3s ease;
		-ms-transition:-ms-transform 0.3s ease, opacity 0.3s ease;
		-o-transition:-o-transform 0.3s ease, opacity 0.3s ease;
		transition:transform 0.3s ease, opacity 0.3s ease;
	}

	body[data-hidden="true"] #app {
		opacity:0;
	}

	.section {
		width:100%;
		float:left;
		position:relative;
		background:#fff;
		border-radius:5px;
		box-shadow:0px 1px 2px rgba(0,0,0,0.1);
	}

	.section.clickable {
		cursor:pointer;

		-webkit-transition:background 0.05s ease;
		-moz-transition:background 0.05s ease;
		-ms-transition:background 0.05s ease;
		-o-transition:background 0.05s ease;
		transition:background 0.05s ease;
	}

	.section.clickable:active {
		background:#f9f9f9;
	}

	.section.margin {
		margin:10px 0 0 0;
	}

	body[data-render="ios"] .section header {
		height:50px;
		padding:0;
	}

	.section header {
		height:50px;
		box-shadow:none;
		border-bottom:1px solid #eee;
	}

	.section header h5 {
		color:#2a383c;
		line-height:50px;
		padding:0 0 0 20px;
	}

  /* Text styles */

  h1, h2, h3, h4, h5, h6, p {
    float:left;
    color:#5e727c;
  }

  h3 {
    font-size:17px;
    font-weight:500;
    line-height:28px;
  }

	h5 {
		font-size:14px;
		font-weight:500;
		line-height:24px;
	}

	h6 {
		font-size:13px;
		font-weight:500;
		line-height:20px;
	}

	h6.message {
		color:#879baa;
		text-align:center;
		padding:15px 20px;
		background:#fff;
		border-radius:5px;
		box-shadow:0px 1px 2px rgba(0,0,0,0.1);
	}

	p {
		font-size:12px;
		font-weight:400;
		line-height:24px;
	}

	p a {
		font-weight:700;
		text-decoration:none;
		color:#0996cf;
	}

	p.small {
		font-size:10px;
		font-weight:500;
		line-height:20px;
	}

  /* // Text styles */


	/* List styles */

	ul, ol {
		float:left;
		list-style:none;
		margin:0;
		padding:0;
	}


	/* Drawer menu styles */

	ul.drawerMenu {
		width:100%;
	}

	ul.drawerMenu li {
		width:100%;
		height:46px;
		float:left;
		color:#899baa;
		font-size:15px;
		font-weight:500;
		line-height:46px;
		border-radius:5px;
		margin:0;
		padding:0 17px;
		cursor:pointer;

		-webkit-transition:background 0.15s ease, color 0.15s ease;
		-moz-transition:background 0.15s ease, color 0.15s ease;
		-ms-transition:background 0.15s ease, color 0.15s ease;
		-o-transition:background 0.15s ease, color 0.15s ease;
		transition:background 0.15s ease, color 0.15s ease;
	}

	ul.drawerMenu li.selected {
		background:#f0f1f4;
		color:#2a383c;
	}

	@media only screen and (min-width:1025px) {
    ul.drawerMenu li {
			-webkit-transition:background 0.15s ease, color 0.15s ease;
			-moz-transition:background 0.15s ease, color 0.15s ease;
			-ms-transition:background 0.15s ease, color 0.15s ease;
			-o-transition:background 0.15s ease, color 0.15s ease;
      transition:background 0.15s ease, color 0.15s ease;
    }

    ul.drawerMenu li:hover {
      color:#2a383c;
    }
  }

  @media only screen and (max-width:1024px) {
    ul.drawerMenu li {
			-webkit-transition:background 0.05s ease, color 0.05s ease;
			-moz-transition:background 0.05s ease, color 0.05s ease;
			-ms-transition:background 0.05s ease, color 0.05s ease;
			-o-transition:background 0.05s ease, color 0.05s ease;
      transition:background 0.05s ease, color 0.05s ease;
    }

    ul.drawerMenu li:active {
      color:#2a383c;
    }
  }


	ul.pricelist {
		width:100%;
		float:left;
		padding:0 0 0 20px;
		border-bottom-right-radius:5px;
		border-bottom-left-radius:5px;
		background:#f9f9f9;
	}

	ul.pricelist li {
		width:100%;
		height:47px;
		float:left;
		border-bottom:1px solid #eee;
		position:relative;
		font-size:12px;
		font-weight:500;
		line-height:46px;
		padding:0;
	}

	ul.pricelist li:last-of-type {
		border-bottom:0px;
		height:46px;
	}

	ul.pricelist li span {
		width:46px;
		height:46px;
		font-weight:400;
		position:absolute;
		top:0;
		right:0;
		text-align:right;
		padding:0 15px 0 0;
	}

	/* // List styles */


  /* Header styles */

  header {
    width:100%;
    height:56px;
    float:left;
    box-shadow:0px 1px 4px rgba(0,0,0,0.1);
  }

	body[data-render="ios"] header {
		height:76px;
		padding:20px 0 0 0;
	}

  header h3 {
    color:#fff;
    padding:14px 0;
  }

  header .button {
    width:56px;
    height:56px;
    float:left;
    position:relative;
    cursor:pointer;

		display:-webkit-box;
		display:-moz-box;
		display:-ms-flexbox;
		display:-webkit-flex;
    display:flex;

		-webkit-justify-content:center;
		-moz-justify-content:center;
		-ms-justify-content:center;
    justify-content:center;

		-webkit-align-items:center;
		-moz-align-items:center;
		-ms-align-items:center;
		align-items:center;

		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		-o-user-select:none;
  }

	header .button p {
		color:#fff;
		font-weight:bold;
	}

  @media only screen and (min-width:1025px) {
    header .button {
			-webkit-transition:background 0.15s ease;
			-moz-transition:background 0.15s ease;
			-ms-transition:background 0.15s ease;
			-o-transition:background 0.15s ease;
      transition:background 0.15s ease;
    }

    header .button:hover {
      background:rgba(255,255,255,0.1);
    }
  }

  @media only screen and (max-width:1024px) {
    header .button {
			-webkit-transition:background 0.05s ease;
			-moz-transition:background 0.05s ease;
			-ms-transition:background 0.05s ease;
			-o-transition:background 0.05s ease;
      transition:background 0.05s ease;
    }

    header .button:active {
      background:rgba(255,255,255,0.1);
    }
  }

  header .button img {
    width:18px;
    float:left;
  }

  header.main {
    position:fixed;
    top:0;
    left:0;
    z-index:10;
		overflow:hidden;

		-webkit-transition:-webkit-transform 0.3s ease, opacity 0.3s ease;
		-moz-transition:-moz-transform 0.3s ease, opacity 0.3s ease;
		-ms-transition:-ms-transform 0.3s ease, opacity 0.3s ease;
		-o-transition:-o-transform 0.3s ease, opacity 0.3s ease;
		transition:transform 0.3s ease, opacity 0.3s ease;
  }

	header .titles {
		width:150px;
		height:100%;
		float:left;
		position:relative;
		display:none;

		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		-o-user-select:none;
		user-select:none;
	}

	header .titles h3 {
		max-width:150px;
		position:absolute;
		top:0;
		left:0;
	}

	body[data-active-schedule="main"] .titles h3#otherTitle {
		-webkit-transform:translate3d(0px,100%,0px);
		-moz-transform:translate3d(0px,100%,0px);
		-ms-transform:translate3d(0px,100%,0px);
		-o-transform:translate3d(0px,100%,0px);
		transform:translate3d(0px,100%,0px);
	}

	body[data-active-schedule="other"] .titles h3#mainTitle {
		-webkit-transform:translate3d(0px,-100%,0px);
		-moz-transform:translate3d(0px,-100%,0px);
		-ms-transform:translate3d(0px,-100%,0px);
		-o-transform:translate3d(0px,-100%,0px);
		transform:translate3d(0px,-100%,0px);
	}

	@media only screen and (min-width:1025px) {
		body[data-double-schedule="true"] header .titles h3 {
			-webkit-transition:-webkit-transform 0.3s ease, background 0.15s ease;
			-moz-transition:-moz-transform 0.3s ease, background 0.15s ease;
			-ms-transition:-ms-transform 0.3s ease, background 0.15s ease;
			-o-transition:-o-transform 0.3s ease, background 0.15s ease;
			transition:transform 0.3s ease, background 0.15s ease;
		}

		body[data-double-schedule="true"] header .titles h3:hover {
			background:rgba(255,255,255,0.1);
		}
	}

	@media only screen and (max-width:1024px) {
		body[data-double-schedule="true"] header .titles h3 {
			-webkit-transition:-webkit-transform 0.3s ease, background 0.05s ease;
			-moz-transition:-moz-transform 0.3s ease, background 0.05s ease;
			-ms-transition:-ms-transform 0.3s ease, background 0.05s ease;
			-o-transition:-o-transform 0.3s ease, background 0.05s ease;
			transition:transform 0.3s ease, background 0.05s ease;
		}

		body[data-double-schedule="true"] header .titles h3:active {
			background:rgba(255,255,255,0.1);
		}
	}

	header .button#weekNumber {
		display:none;
		position:relative;
		overflow:hidden;
	}

	header .button#weekNumber:before {
		content:'';
		width:100%;
		height:2px;
		position:absolute;
		left:0;
		bottom:-2px;
		background:#fff;

		-webkit-transition:-webkit-transform 0.3s ease;
		-moz-transition:-moz-transform 0.3s ease;
		-ms-transition:-ms-transform 0.3s ease;
		-o-transition:-o-transform 0.3s ease;
		transition:transform 0.3s ease;
	}

	header .button#weekNumber:after {
		content:'';
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		bottom:0;
		z-index:1;
		background:rgba(255,255,255,0.1);
		opacity:0;

		-webkit-transition:opacity 0.3s ease;
		-moz-transition:opacity 0.3s ease;
		-ms-transition:opacity 0.3s ease;
		-o-transition:opacity 0.3s ease;
		transition:opacity 0.3s ease;
	}

	body[data-active-page="schedule"] header .button#weekNumber {
		display:-webkit-flex;
		display:-moz-flex;
		display:-ms-flexbox;
		display:-webkit-box;
		display:flex;
	}

	body[data-display-weeks="true"] header .button#weekNumber:after { opacity:1; }

	body[data-display-weeks="true"] header .button#weekNumber:before {
		-webkit-transform:translate3d(0px,-2px,0px);
		-moz-transform:translate3d(0px,-2px,0px);
		-ms-transform:translate3d(0px,-2px,0px);
		-o-transform:translate3d(0px,-2px,0px);
		transform:translate3d(0px,-2px,0px);
	}

  /* // Header styles */


  /* Nav styles */

  nav {
    width:270px;
    height:100%;
    position:fixed;
    top:0;
    left:-274px;
    z-index:30;
    background:#fff;
    box-shadow:1px 0px 4px rgba(0,0,0,0.1);
		padding:56px 0 0 0;
		will-change:transform;

		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		-o-user-select:none;
		user-select:none;

		-webkit-transition:-webkit-transform 0.3s ease;
		-moz-transition:-moz-transform 0.3s ease;
		-ms-transition:-ms-transform 0.3s ease;
		-o-transition:-o-transform 0.3s ease;
    transition:transform 0.3s ease;
  }

	body[data-render="ios"] nav {
		padding:76px 0 0 0;
	}

  nav.show {
		-webkit-transform:translate3d(100%,0px,0px);
		-moz-transform:translate3d(100%,0px,0px);
		-ms-transform:translate3d(100%,0px,0px);
		-o-transform:translate3d(100%,0px,0px);
    transform:translate3d(100%,0px,0px);
  }

  nav header {
    background:#2a383c;
		position:absolute;
		top:0;
		left:0;
  }

	nav .content {
		width:100%;
		max-height:100%;
		float:left;
		padding:10px;
		overflow:scroll;
		-webkit-overflow-scrolling:touch;
	}

	nav .content::-webkit-scrollbar {
		display:none;
	}

	nav .content .splitter {
		width:100%;
		height:1px;
		background:#eee;
		float:left;
		margin:10px 0;
	}

	nav .content footer {
		width:100%;
		float:left;
		padding:10px 0;
	}

	nav .content footer p {
		width:100%;
		text-align:center;
		color:#899baa;
	}

	nav .content footer p span {
		font-weight:500;
		color:#5e727c;
	}

	nav .content footer .logo	 {
		width:100%;
		float:left;
		padding:8px 0 0 0;

		display:flex;
		justify-content:center;
	}

	nav .content footer .logo img {
		width:40px;
		height:40px;
		float:left;
		opacity:0.20;
	}

  /* // Nav styles */

  /* Menubutton styles */

  .menuButton {
    width:20px;
    height:14px;
    float:left;
    position:relative;
  }

  .menuButton .str {
    width:20px;
    height:2px;
    border-radius:1px;
    background:#fff;
    position:absolute;
    left:0;
    top:50%;
    margin:-1px 0 0 0;
  }

  .menuButton .str.top {
		-webkit-transform:translate3d(0px,-6px,0px);
		-moz-transform:translate3d(0px,-6px,0px);
		-ms-transform:translate3d(0px,-6px,0px);
		-o-transform:translate3d(0px,-6px,0px);
    transform:translate3d(0px,-6px,0px);
  }

  .menuButton .str.bot {
		-webkit-transform:translate3d(0px,6px,0px);
		-moz-transform:translate3d(0px,6px,0px);
		-ms-transform:translate3d(0px,6px,0px);
		-o-transform:translate3d(0px,6px,0px);
    transform:translate3d(0px,6px,0px);
  }

  /* // Menubutton styles */


	/* Fixed bar styles */

	.bar {
		width:100%;
		height:40px;
		position:fixed;
		top:0;
		left:0;
		z-index:9;
		background:#fff;
		box-shadow:0px 1px 4px rgba(0,0,0,0.1);
		opacity:0;

		-webkit-transition:-webkit-transform 0.3s ease, opacity 0.3s ease;
		-moz-transition:-moz-transform 0.3s ease, opacity 0.3s ease;
		-ms-transition:-ms-transform 0.3s ease, opacity 0.3s ease;
		-o-transition:-o-transform 0.3s ease, opacity 0.3s ease;
		transition:transform 0.3s ease, opacity 0.3s ease;

		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		-o-user-select:none;
	}

	.bar.secondary {
		z-index:8;
	}

	.bar .swiper-container {
		width:100%;
		height:40px;
		float:left;
	}

	.bar .swiper-container .swiper-wrapper .swiper-slide {
		text-align:center;
		opacity:0.5;
	}

	.bar .swiper-container .swiper-wrapper .swiper-slide h5 {
		width:100%;
		text-align:center;
		line-height:50px;
		color:#2a383c;
	}

	.bar.stops {
		height:50px;
	}

	.bar.stops .swiper-container {
		height:50px;
	}

	.bar.stops .swiper-container .swiper-wrapper .swiper-slide {
		line-height:50px;
		font-size:14px;
	}

	body[data-render="ios"] .bar {
		top:20px;
	}

	ul.tabs {
		width:100%;
		height:40px;
		float:left;

		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		-o-user-select:none;
	}

	ul.tabs span {
		height:1px;
		position:absolute;
		bottom:0;
		left:0;
	}

	ul.tabs li {
		height:40px;
		float:left;
		text-align:center;
		line-height:40px;
		cursor:pointer;
		opacity:0.5;
	}

	ul.tabs li:active {
		background:#f9f9f9;
	}


	/* // Fixed bar styles */


	/* Day tabs styles */

	body[data-active-page="schedule"] .bar.dayBar {
		-webkit-transform:translate3d(0px,56px,0px);
		-moz-transform:translate3d(0px,56px,0px);
		-ms-transform:translate3d(0px,56px,0px);
		-o-transform:translate3d(0px,56px,0px);
		transform:translate3d(0px,56px,0px);

		opacity:1;
	}

	ul.tabs.days span {
		width:20%;
		background:#0996cf;
	}

	ul.tabs.days li {
		width:20%;
		color:#2a383c;
	}

	/* // Day tabs styles */


	/* Week slider styles */

	.bar.weeks {
		z-index:8;
	}

	.weeks .swiper-container, .weeks .swiper-container .swiper-wrapper {
		width:100%;
		height:40px;
	}

	.weeks .swiper-container .swiper-wrapper .swiper-slide {
		opacity:1;
		height:40px;
		line-height:40px;
		color:#899baa;
		font-weight:400;
		font-size:12px;
		text-align:center;

		-webkit-transition:color 0.3s ease, font-weight 0.3s ease, font-size 0.3s ease;
		-moz-transition:color 0.3s ease, font-weight 0.3s ease, font-size 0.3s ease;
		-ms-transition:color 0.3s ease, font-weight 0.3s ease, font-size 0.3s ease;
		-o-transition:color 0.3s ease, font-weight 0.3s ease, font-size 0.3s ease;
		transition:color 0.3s ease, font-weight 0.3s ease, font-size 0.3s ease;
	}

	.weeks .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active {
		color:#5e727c;
		font-weight:bold;
		font-size:14px;
	}

	.weeks .swiper-container .swiper-wrapper .swiper-slide.currentWeek {
		color:#0996cf;
	}

	body[data-active-page="schedule"] .weeks {
		-webkit-transform:translate3d(0px,56px,0px);
		-moz-transform:translate3d(0px,56px,0px);
		-ms-transform:translate3d(0px,56px,0px);
		-o-transform:translate3d(0px,56px,0px);
		transform:translate3d(0px,56px,0px);
	}

	body[data-active-page="schedule"][data-display-weeks="true"] .weeks {
		-webkit-transform:translate3d(0px,96px,0px);
		-moz-transform:translate3d(0px,96px,0px);
		-ms-transform:translate3d(0px,96px,0px);
		-o-transform:translate3d(0px,96px,0px);
		transform:translate3d(0px,96px,0px);

		opacity:1;
	}

	.weeks .button {
    width:20%;
    height:40px;
    float:left;
    position:absolute;
		top:0;
		z-index:2;
    cursor:pointer;
		background:#fff;

		display:-webkit-box;
		display:-moz-box;
		display:-ms-flexbox;
		display:-webkit-flex;
    display:flex;

		-webkit-justify-content:center;
		-moz-justify-content:center;
		-ms-justify-content:center;
    justify-content:center;

		-webkit-align-items:center;
		-moz-align-items:center;
		-ms-align-items:center;
		align-items:center;

		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		-o-user-select:none;
  }

	.weeks .button:before {
		content:'';
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		z-index:1;
	}

	.weeks .button:active:before {
		background:rgba(42,56,60,0.05);
	}

	.weeks .button#previousWeek {
		left:0;
	}

	.weeks .button#nextWeek {
		right:0;
	}

  .weeks .button img {
    width:14px;
    float:left;
		position:relative;
		z-index:2;
  }


	/* // Week slider styles */


	/* Main content styles */

	section {
		width:100%;
		min-height:100%;
		float:left;
		padding:71px 15px 15px;
		position:relative;
		display:none;

		-webkit-transition:-webkit-transform 0.3s ease;
		-moz-transition:-moz-transform 0.3s ease;
		-ms-transition:-ms-transform 0.3s ease;
		-o-transition:-o-transform 0.3s ease;
		transition:transform 0.3s ease;
	}

	section.display {
		display:block;
	}

	/* // Main content styles */


	/* Form and fields styles */

	label {
		width:100%;
		float:left;
		font-size:12px;
		font-weight:500;
		line-height:16px;
		color:#889baa;
		margin:5px 0 8px 5px;
	}

	.field {
		width:100%;
		min-height:50px;
		float:left;
		background:#fff;
		border-radius:5px;
		box-shadow:0px 1px 2px rgba(42,56,60,0.1);
		margin:0 0 15px 0;
	}

	.buttons {
		width:100%;
		height:40px;
		float:left;

		display:-webkit-box;
		display:-moz-box;
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;

		-webkit-justify-content:center;
		-moz-justify-content:center;
		-ms-justify-content:center;
		justify-content:center;
	}

	.field h5 {
		color:#2a383c;
		font-size:15px;
		padding:13px 17px;

		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		-o-user-select:none;
	}

	.field .box {
		width:100%;
		height:50px;
		float:left;
		cursor:pointer;
		position:relative;
		border-top-right-radius:5px;
		border-top-left-radius:5px;
		border-top:1px solid #eee;

		-webkit-transition:background 0.05s ease;
		-moz-transition:background 0.05s ease;
		-ms-transition:background 0.05s ease;
		-o-transition:background 0.05s ease;
		transition:background 0.05s ease;
	}

	.field .box.btn {
		padding:0 50px 0 0;
	}

	.field .box:active {
		background:#f9f9f9;
	}

	.field .box:first-of-type {
		border-top:0px;
	}

	.field .box:nth-child(2n+2) {
		background-color:#f9f9f9;
		border-top-right-radius:0px;
		border-top-left-radius:0px;
	}

	.field .box:nth-child(2n+2) h5 {
		color:#63727c;
	}

	.field .box:nth-child(2n+2):active {
		background:#fff;
	}

	.field .box:last-of-type {
		border-bottom-right-radius:5px;
		border-bottom-left-radius:5px;
	}


	.field .box .button {
		width:50px;
		height:100%;
		position:absolute;
		cursor:pointer;
		top:0;
		right:0;
		border-top-right-radius:5px;

		-webkit-transition:background 0.05s ease;
		-moz-transition:background 0.05s ease;
		-ms-transition:background 0.05s ease;
		-o-transition:background 0.05s ease;
		transition:background 0.05s ease;
	}

	.field .box .button:active {
		background-color:#fff;
	}

	.field .box:last-of-type .button {
		border-bottom-right-radius:5px;
	}

	.field .box:nth-child(2n+2) .button:active {
		background-color:#f9f9f9;
	}

	.field .box .button.clear {
		background-image:url(../img/icons/close-light.svg);
		background-repeat:no-repeat;
		background-size:9px 9px;
		background-position:center;
	}

	.field .box .button.tab {
		background-image:url(../img/icons/arrow-right-light.svg);
		background-repeat:no-repeat;
		background-size:7px;
		background-position:center;
	}

	.field input {
		width:100%;
		height:100%;
		float:left;
		padding:0 18px 0 0;
		text-indent:18px;
		font-size:15px;
		font-weight:500;
		color:#2a383c;
		border-radius:0px;
		outline:none;
		border:0px;
		background:none;

		-webkit-appearance:none;
		-moz-appearance:none;
		-ms-appearance:none;
		-o-appearance:none;
		appearance:none;
	}

	.field select {
		width:100%;
		height:50px;
		float:left;
		background-image:url(../img/icons/dropdown.svg);
		background-repeat:no-repeat;
		background-size:50px;
		background-position:top right;
		background-color:#f7f7f7;
		font-size:15px;
		font-weight:500;
		color:#63727c;
		padding:0 18px;
		outline:none;
		cursor:pointer;

		border-top-right-radius:0px;
		border-top-left-radius:0px;
		border-bottom-left-radius:5px;
		border-bottom-right-radius:5px;

		border-top:1px solid #eee;
		border-right:0px;
		border-bottom:0px;
		border-left:0px;

		-webkit-appearance:none;
		-moz-appearance:none;
		-ms-appearance:none;
		-o-appearance:none;
		appearance:none;

		-webkit-transition:background-color 0.05s ease;
		-moz-transition:background-color 0.05s ease;
		-ms-transition:background-color 0.05s ease;
		-o-transition:background-color 0.05s ease;
		transition:background-color 0.05s ease;
	}

	.field select:active {
		background-color:#fff;
	}

	.field select:only-child {
    border:0px;
		border-radius:5px;
		background-color:#fff;
		color:#2a383c;
	}

	.field select:only-child:active {
		background-color:#f9f9f9;
	}

  .field .swiper-container {
    width:100%;
    height:50px;
  }

  .field .swiper-slide {
    font-size:15px;
    font-weight:500;
    color:#2a383c;
    text-align:center;
    line-height:50px;
    text-transform:capitalize;
  }

	.switchWrap {
		padding:10px;
		float:left;
	}

	.field .switchWrap {
		float:right;
	}

	.switch {
		width:44px;
		height:30px;
		float:left;
		border-radius:15px;
		background:#cad4dd;
		padding:3px;

		-webkit-transition:background 0.3s ease;
		-moz-transition:background 0.3s ease;
		-ms-transition:background 0.3s ease;
		-o-transition:background 0.3s ease;
		transition:background 0.3s ease;
	}

	.switch.on {
		background:#0a96cf;
	}

	.switch.on .ball {
		-webkit-transform:translate3d(14px,0px,0px);
		-moz-transform:translate3d(14px,0px,0px);
		-ms-transform:translate3d(14px,0px,0px);
		-o-transform:translate3d(14px,0px,0px);
		transform:translate3d(14px,0px,0px);
	}

	.switch.on .ball:before {
		-webkit-transform:rotate3d(0,0,1, 90deg);
		-moz-transform:rotate3d(0,0,1, 90deg);
		-ms-transform:rotate3d(0,0,1, 90deg);
		-o-transform:rotate3d(0,0,1, 90deg);
		transform:rotate3d(0,0,1, 90deg);

		opacity:0;
	}

	.switch.on .ball:after {
		-webkit-transform:rotate3d(0,0,0, 0deg);
		-moz-transform:rotate3d(0,0,0, 0deg);
		-ms-transform:rotate3d(0,0,0, 0deg);
		-o-transform:rotate3d(0,0,0, 0deg);
		transform:rotate3d(0,0,0, 0deg);

		opacity:1;
	}

	.switch .ball {
		width:24px;
		height:24px;
		float:left;
		border-radius:12px;
		background:#fff;
		position:relative;

		-webkit-transition:-webkit-transform 0.3s ease;
		-moz-transition:-moz-transform 0.3s ease;
		-ms-transition:-ms-transform 0.3s ease;
		-o-transition:-o-transform 0.3s ease;
		transition:transform 0.3s ease;
	}

	.switch .ball:before {
		content:'';
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		background:url(../img/icons/close-switch.svg) no-repeat center center;
		background-size:10px;

		-webkit-transition:-webkit-transform 0.3s ease, opacity 0.3s ease;
		-moz-transition:-moz-transform 0.3s ease, opacity 0.3s ease;
		-ms-transition:-ms-transform 0.3s ease, opacity 0.3s ease;
		-o-transition:-o-transform 0.3s ease, opacity 0.3s ease;
		transition:transform 0.3s ease, opacity 0.3s ease;
	}

	.switch .ball:after {
		content:'';
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		background:url(../img/icons/done-blue.svg) no-repeat center center;
		background-size:12px;

		-webkit-transform:rotate3d(0,0,1, -90deg);
		-moz-transform:rotate3d(0,0,1, -90deg);
		-ms-transform:rotate3d(0,0,1, -90deg);
		-o-transform:rotate3d(0,0,1, -90deg);
		transform:rotate3d(0,0,1, -90deg);

		opacity:0;

		-webkit-transition:-webkit-transform 0.3s ease, opacity 0.3s ease;
		-moz-transition:-moz-transform 0.3s ease, opacity 0.3s ease;
		-ms-transition:-ms-transform 0.3s ease, opacity 0.3s ease;
		-o-transition:-o-transform 0.3s ease, opacity 0.3s ease;
		transition:transform 0.3s ease, opacity 0.3s ease;
	}

	button {
		height:40px;
		float:left;
		border-radius:5px;
		background:#fff;
		text-align:center;
		line-height:40px;
		font-size:14px;
		font-weight:500;
		box-shadow:0px 1px 2px rgba(42,56,60,0.1);
		color:#2a383c;
		border:0px;
		outline:none;
		margin:0 0 15px 0;
		padding:0 14px;
		cursor:pointer;

		-webkit-appearance:none;
		-moz-appearance:none;
		-ms-appearance:none;
		-o-appearance:none;
		appearance:none;

		-webkit-transition:background 0.05s ease;
		-moz-transition:background 0.05s ease;
		-ms-transition:background 0.05s ease;
		-o-transition:background 0.05s ease;
		transition:background 0.05s ease;
	}

	button:active {
		background:#f7f7f7;
	}

	button.mrg {
		margin:0 15px 15px 0;
	}

	button.warning {
		color:#ea5e5e;
	}

	button.primary {
		color:#0996cf;
	}

	button.light {
		background:#f7f7f7;
	}

	button.light:active {
		background:#fff;
	}


	/* Overlaying modal styles */

	.typeSwiper {
		position:relative;

		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		-o-user-select:none;
	}

	.typeSwiper .button {
		width:50px;
		height:50px;
		position:absolute;
		top:0;
		cursor:pointer;
		z-index:2;

		display:-webkit-box;
		display:-moz-box;
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;

		-webkit-justify-content:center;
		-moz-justify-content:center;
		-ms-justify-content:center;
		justify-content:center;

		-webkit-align-items:center;
		-moz-align-items:center;
		-ms-align-items:center;
		align-items:center;
	}

	.typeSwiper .button:not(.disabled):active {
		background:#f9f9f9;
	}

	.typeSwiper .button.disabled {
		cursor:default;
		opacity:0.5;
	}

	.typeSwiper .button.left {
		left:0;
		border-top-left-radius:5px;
		border-bottom-left-radius:5px;
	}

	.typeSwiper .button.right {
		right:0;
		border-top-right-radius:5px;
		border-bottom-right-radius:5px;
	}

	.typeSwiper .button img {
		width:14px;
		float:left;
	}

	.modalWrapper {
		width:100%;
		height:100%;
		position:fixed;
		top:0;
		left:0;
		z-index:22;
		padding:15px;

		-webkit-justify-content:center;
		-moz-justify-content:center;
		-ms-justify-content:center;
		justify-content:center;

		-webkit-align-items:center;
		-moz-align-items:center;
		-ms-align-items:center;
		align-items:center;

		display:none;
		opacity:0;

		-webkit-transition:opacity 0.3s ease;
		-moz-transition:opacity 0.3s ease;
		-ms-transition:opacity 0.3s ease;
		-o-transition:opacity 0.3s ease;
		transition:opacity 0.3s ease;
	}

	.modalWrapper.display {
		display:-webkit-box;
		display:-moz-box;
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;
	}

	.modalWrapper.show {
		opacity:1;
	}

	.modalWrapper.show .modalContainer .modal, .modalWrapper.show .modalContainer .buttons, .modalWrapper.show .modalContainer .buttons .button {
		-webkit-transform:translate3d(0px,0px,0px);
		-moz-transform:translate3d(0px,0px,0px);
		-ms-transform:translate3d(0px,0px,0px);
		-o-transform:translate3d(0px,0px,0px);
		transform:translate3d(0px,0px,0px);
	}

	.modalWrapper .modalContainer {
		width:100%;
		float:left;
		position:relative;

		display:-webkit-box;
		display:-moz-box;
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;

		-webkit-justify-content:center;
		-moz-justify-content:center;
		-ms-justify-content:center;
		justify-content:center;
	}

	.modalWrapper .modalContainer .buttons {
		width:120px;
		height:50px;
		position:absolute;
		bottom:-80px;
		left:50%;
		margin-left:-60px;
		z-index:1;

		display:-webkit-box;
		display:-moz-box;
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;

		-webkit-justify-content:space-between;
		-moz-justify-content:space-between;
		-ms-justify-content:space-between;
		justify-content:space-between;

		-webkit-transform:translate3d(0px,50px,0px);
		-moz-transform:translate3d(0px,50px,0px);
		-ms-transform:translate3d(0px,50px,0px);
		-o-transform:translate3d(0px,50px,0px);
		transform:translate3d(0px,50px,0px);

		-webkit-transition:-webkit-transform 0.3s ease;
		-moz-transition:-moz-transform 0.3s ease;
		-ms-transition:-ms-transform 0.3s ease;
		-o-transition:-o-transform 0.3s ease;
		transition:transform 0.3s ease;
	}

	.modalWrapper .modalContainer .buttons .button {
		width:50px;
		height:50px;
		float:left;
		border-radius:25px;
		cursor:pointer;
		background:#fff;
		box-shadow:0px 1px 4px rgba(0,0,0,0.1);

		-webkit-transform:scale(0.5);
		-moz-transform:scale(0.5);
		-ms-transform:scale(0.5);
		-o-transform:scale(0.5);
		transform:scale(0.5);

		-webkit-transition:-webkit-transform 0.3s ease;
		-moz-transition:-moz-transform 0.3s ease;
		-ms-transition:-ms-transform 0.3s ease;
		-o-transition:-o-transform 0.3s ease;
		transition:transform 0.3s ease;
	}

	.modalWrapper .modalContainer .buttons .button.disabled {
		opacity:0.5;
		cursor:default;
	}

	.modalWrapper .modalContainer .buttons .button:not(.disabled):active {
		opacity:0.8;
	}

	.modalWrapper .modalContainer .buttons .button.warning {
		background:#ef4646;
	}

	.modalWrapper .modalContainer .buttons .button.success {
		background:#60be70;
	}

	.modalWrapper .modalContainer .buttons .button img {
		width:50px;
		height:50px;
		float:left;
	}

	.modalWrapper .modalContainer .modal {
		width:100%;
		max-width:320px;
		float:left;
    position:relative;
		z-index:2;
		border-radius:5px;
		background:#fff;
		box-shadow:0px 1px 4px rgba(0,0,0,0.1);

		-webkit-transform:translate3d(0px,100px,0px);
		-moz-transform:translate3d(0px,100px,0px);
		-ms-transform:translate3d(0px,100px,0px);
		-o-transform:translate3d(0px,100px,0px);
		transform:translate3d(0px,100px,0px);

		-webkit-transition:-webkit-transform 0.3s ease;
		-moz-transition:-moz-transform 0.3s ease;
		-ms-transition:-ms-transform 0.3s ease;
		-o-transition:-o-transform 0.3s ease;
		transition:transform 0.3s ease;
	}

  .modalWrapper .modalContainer .modal.back {
    background:#f1eff5;
  }

	.modalWrapper .modalContainer .modal header {
		border-top-right-radius:5px;
		border-top-left-radius:5px;
		box-shadow:none;
		background:#2a383c;
		height:56px;
		padding:0;
	}

	.modalWrapper .modalContainer .modal header h3 {
		width:100%;
		text-align:center;
	}

	.modalWrapper .modal .inner {
		width:100%;
		float:left;
		padding:15px 15px 0;
	}

	.modalWrapper .modalContainer .modal p.close {
		width:100%;
		float:left;
		text-align:center;
		font-weight:500;
		color:#899baa;
		border-top:1px solid #eee;
		line-height:46px;
		cursor:pointer;

		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		-o-user-select:none;
	}

	.modalWrapper .modalContainer .modal .details {
		width:100%;
		float:left;
		padding:5px 0;
	}

	.modalWrapper .modalContainer .modal .details h3 {
		width:100%;
		text-align:center;
		line-height:22px;
		word-break:break-all;

		-moz-hyphens:auto;
		-ms-hyphens:auto;
		hyphens:auto;
	}

	.modalWrapper .modalContainer .modal .details .meta {
		width:100%;
		float:left;
		margin:5px 0 15px;

		display:-webkit-box;
		display:-moz-box;
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;

		-webkit-flex-direction:row;
		-moz-flex-direction:row;
		-ms-flex-direction:row;
		flex-direction:row;

		-webkit-justify-content:center;
		-moz-justify-content:center;
		-ms-justify-content:center;
		justify-content:center;
	}

	.modalWrapper .modalContainer .modal .details .meta p.small {
		color:#899baa;
		line-height:13px;
		position:relative;
		padding:0 0 0 16px;
	}

	.modalWrapper .modalContainer .modal .details .meta p.small.time {
		margin:0 0 0 10px;
	}

	.modalWrapper .modalContainer .modal .details .meta p.small:before {
		content:'';
		width:12px;
		height:12px;
		position:absolute;
		top:0;
		left:0;
	}

	.modalWrapper .modalContainer .modal .details .meta p.small.date:before {
		background:url(../img/icons/calendar.svg) no-repeat center center;
		background-size:12px 12px;
	}

	.modalWrapper .modalContainer .modal .details .meta p.small.time:before {
		background:url(../img/icons/time.svg) no-repeat center center;
		background-size:12px 12px;
	}

	body[data-hidden="true"] header.main {
		-webkit-transform:translate3d(0px,-76px,0px);
		-moz-transform:translate3d(0px,-76px,0px);
		-ms-transform:translate3d(0px,-76px,0px);
		-o-transform:translate3d(0px,-76px,0px);
		transform:translate3d(0px,-76px,0px);
	}

	body[data-hidden="true"][data-render="ios"] header.main {
		-webkit-transform:translate3d(0px,-76px,0px);
		-moz-transform:translate3d(0px,-76px,0px);
		-ms-transform:translate3d(0px,-76px,0px);
		-o-transform:translate3d(0px,-76px,0px);
		transform:translate3d(0px,-76px,0px);

		opacity:0;
	}

	body[data-hidden="true"] .bar, body[data-hidden="true"] .bar.dayBar {
		-webkit-transform:translate3d(0px,-50px,0px);
		-moz-transform:translate3d(0px,-50px,0px);
		-ms-transform:translate3d(0px,-50px,0px);
		-o-transform:translate3d(0px,-50px,0px);
		transform:translate3d(0px,-50px,0px);

		opacity:0;
	}

	body[data-hidden="true"][data-render="ios"] .bar, body[data-hidden="true"][data-render="ios"] .bar.dayBar {
		-webkit-transform:translate3d(0px,-70px,0px);
		-moz-transform:translate3d(0px,-70px,0px);
		-ms-transform:translate3d(0px,-70px,0px);
		-o-transform:translate3d(0px,-70px,0px);
		transform:translate3d(0px,-70px,0px);

		opacity:0;
	}