@charset "UTF-8";

#transit {
	height:100%;
	max-height:100%;
	overflow:hidden;
	padding:106px 0 0 0;
}

body[data-render="ios"] #transit {
	padding:126px 0 0 0;
}

body[data-active-page="transit"] .bar.stops {
	-webkit-transform:translate3d(0px,56px,0px);
	-moz-transform:translate3d(0px,56px,0px);
	-ms-transform:translate3d(0px,56px,0px);
	-o-transform:translate3d(0px,56px,0px);
	transform:translate3d(0px,56px,0px);

	opacity:1;
}

#transit .swiper-container, #transit .swiper-container .swiper-wrapper {
	width:100%;
	height:100%;
	float:left;
}

#transit .swiper-container .swiper-wrapper .swiper-slide {
	height:100%;
	max-height:100%;
	overflow:scroll;
	-webkit-overflow-scrolling:touch;
	padding:15px;
}

#transit .swiper-container .swiper-wrapper .swiper-slide ul.trips {
	width:100%;
	float:left;
}

#transit .swiper-container .swiper-wrapper .swiper-slide ul.trips > li {
	width:100%;
	height:60px;
	float:left;
	background:#fff;
	border-radius:5px;
	box-shadow:0px 1px 2px rgba(0,0,0,0.1);
	margin:0 0 10px 0;
	position:relative;
	padding:0 50px 0 48px;
}

#transit .swiper-container .swiper-wrapper .swiper-slide ul.trips.empty > li {
	height:auto;
	padding:0;
	background:none;
	border-radius:0px;
	box-shadow:none;

	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;

	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;

	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
}

#transit .swiper-container .swiper-wrapper .swiper-slide ul.trips > li:last-of-type {
	margin:0;
}

#transit .swiper-container .swiper-wrapper .swiper-slide ul.trips > li h6 {
	width:100%;
	float:left;
	color:#2a383c;
	line-height:20px;
	padding:20px 15px 20px 10px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

#transit .swiper-container .swiper-wrapper .swiper-slide ul.trips.empty > li h6 {
	width:auto;
	color:#879baa;
	text-align:center;
	padding:15px 20px;
}

#transit .swiper-container .swiper-wrapper .swiper-slide ul.trips > li .tag {
	width:36px;
	height:36px;
	font-size:13px;
	font-weight:500;
	text-align:center;
	line-height:36px;
	border-radius:18px;
	position:absolute;
	top:12px;
	left:12px;
}

#transit .swiper-container .swiper-wrapper .swiper-slide ul.trips > li ul.departures {
	width:50px;
	height:60px;
	position:absolute;
	top:0;
	right:0;
	background:#f8f7f9;
	border-left:1px solid #eee;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

#transit .swiper-container .swiper-wrapper .swiper-slide ul.trips > li ul.departures li {
	width:50px;
	height:30px;
	float:left;
	font-size:10px;
	font-weight:500;
	color:#879baa;
	line-height:30px;
	text-align:center;
	position:relative;
}

#transit .swiper-container .swiper-wrapper .swiper-slide ul.trips > li ul.departures li:first-of-type {
	color:#2a383c;
	font-weight:bold;
	line-height:34px;
}

#transit .swiper-container .swiper-wrapper .swiper-slide ul.trips > li ul.departures li:last-of-type {
	line-height:26px;
}

#transit .swiper-container .swiper-wrapper .swiper-slide ul.trips > li ul.departures li:first-of-type:before {
	content:'';
	width:30px;
	height:1px;
	position:absolute;
	bottom:0;
	left:10px;
	background:#eee;
	border-radius:0.5px;
}